* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #ededed;
    background: #001f36;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129c5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: #001f36;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home__content {
    max-width: 600px;
}

.home__content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.img {
    position: absolute;
    right: 10%;
    bottom: 160px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid transparent;
    background: linear-gradient(135deg, rgb(8, 154, 164), #0ab6d8, #002f39) border-box;
    box-shadow: 0 0 50px rgba(0, 239, 255, 0.5), inset 0 0 50px rgba(0, 239, 255, 0.2);
    animation: imagePulse 3s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img img {
    width: 600px;
    height: 600px;
}



.home__content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home__content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home__content h3 span {
    color: #0ef;
}

.home__content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-sci a {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6px 0;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));

    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    text-decoration: none;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}

.about {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    background: #001f36;
    padding: 70px 10% 0;
}


.about-img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid transparent;
    background: linear-gradient(135deg, rgb(8, 154, 164), #0ab6d8, #002f39) border-box;
    box-shadow: 0 0 100px rgba(0, 239, 255, 0.5), inset 0 0 200px rgba(0, 239, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img img {
    width: 600px;
    height: 600px;
}

.about-text h2 {
    font-size: 60px;
    color: #ededed;
    margin-bottom: 15px;
}

.about-text h2 span {
    color: #0ef;
}

.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    color: #ededed;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 4rem;
}

#services {
    width: 100%;
    background: #001f36;
}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.sub-title span {
    color: #0ef;
}

.container {
    padding: 90px 10%;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background-color: rgba(5, 17, 41, 0.8);
    padding: 40px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s, box-shadow 0.3s ease;
    box-shadow: 2px 2px 20px rgba(0, 239, 255, 0.1),
        1px 1px 40px rgba(0, 239, 255, 0.15);
    color: #ededed;
    border: 1px solid rgba(0, 239, 255, 0.3);
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #0ef;
}

.services-list div a {
    text-decoration: none;
    color: #081b29;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    font-weight: 500;
}

.read {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 14px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
}

.read:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}

.services-list div:hover {
    transform: translateY(-10px);
    box-shadow: 1px 1px 20px #0ef,
        1px 1px 40px #0ef;
}

.project {
    width: 100%;
    padding: 90px 10%;
    background: #001f36;
}

.project .title {
    margin-top: 0;
    text-align: center;
    padding-bottom: 40px;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 10px;
    row-gap: 60px;

}

.project-card {
    background: rgba(5, 17, 41, 0.8);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 239, 255, 0.2),
        0 0 20px rgba(0, 239, 255, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 500px;
    height: 420px;
    transform: rotate(-8deg);

}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: 0.4s ease;
    transform: rotate(8deg);
    border-radius: 10px;
}

.project-card img:hover {
    transform: scale(1.06);
}

.project-card h3 {
    color: #0ef;
    padding: 16px 16px 8px;
    font-size: 22px;
}

.project-card p {
    color: #cceeff;
    padding: 0 16px 16px;
    flex: 1;
}

.project-card .btn-box {
    width: 469px;
    margin: 0 16px 16px;
    margin-top: 20px;
    text-align: center;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 30px rgba(0, 239, 255, 0.4),
        0 0 60px rgba(0, 239, 255, 0.6);
}

section {
    display: flex;
    flex-wrap: wrap;
    background: #001f36;
}

.container1 {
    flex: 1;
    min-width: 500px;
    padding: 0 90px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar {
    font-size: 23px;
}

.Technical-bars .bar {
    margin-top: 40px;
}

.Technical-bars .bar:first-child {
    margin-top: 0;
}

.Technical-bars .bar:last-child {
    margin-bottom: 0;
}


.Technical-bars .bar .info {
    margin-bottom: 5px;
}

.Technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 8px;
    background: #000;
    animation: animate 1s cubic-bezier(1, 0, 0, 5, 1) forwards;
    transform: scaleX(1);
    transform-origin: left;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s cubic-bezier(1, 0, 0, 5, 1) forwards;
    transform: scaleX(1);
    transform-origin: left;
}

.title {
    margin-top: 30px;
    text-align: center;
    font-size: 60px;
    width: 100%;
}

.title span {
    color: #0ef;
}

.progress-line.html span {
    width: 90%;
}

.progress-line.css span {
    width: 96%;
}

.progress-line.javascript span {
    width: 90%;
}

.progress-line.python span {
    width: 49%;
}


.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after {
    content: '90%';
}

.progress-line.css span::after {
    content: '96%';
}

.progress-line.javascript span::after {
    content: '90%';
}

.progress-line.python span::after {
    content: '49%';
}

.progress-line.react span::after {
    content: '9%';
}

.progress-line span::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s linear forwards;
    opacity: 0;
}


@keyframes showText {
    100% {
        opacity: 1;
    }
}

.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}


.radial-bars .radial-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dashoffset: 502;
    stroke-dasharray: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1 {
    animation: animate-path1 1s linear forwards;
}

.path-2 {
    animation: animate-path2 1s linear forwards;
}

.path-3 {
    animation: animate-path3 1s linear forwards;
}

.path-4 {
    animation: animate-path4 1s linear forwards;
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 50;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 175;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 125;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 75;
    }
}


.radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s linear forwards;
    opacity: 0;
}


.radial-bar .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s linear forwards;
    opacity: 0;
}




@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes imagePulse {
    100% {
        box-shadow: 0 0 50px rgba(0, 239, 255, 0.5), inset 0 0 50px rgba(0, 239, 255, 0.2);
        transform: scale(1);
    }

    50% {
        box-shadow: 0 0 80px rgba(0, 239, 255, 0.8), inset 0 0 80px rgba(0, 239, 255, 0.4);
        transform: scale(1.05);
    }
}

.hero4 {
    text-align: center;
    padding: 90px;
    min-height: 100vh;
    background: #001f36;
}

.hero4 h1 {
    font-size: 60px;
    color: #ededed;
}

.hero4 h1 span {
    color: #0ef;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #051129;
    box-shadow: 0 0 20px rgba(0, 239, 255, 0.2);
    border: 1px solid #0ef;
}

thead {
    background-color: #051129;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #0ef;
    color: #ededed;
}

th {
    font-weight: bold;
    color: #0ef;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

tr,
a {
    color: #0ef;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

.hamma {
    width: 100%;
    height: 500px;
    margin-top: 30px;
    border-radius: 10px;
    object-fit: cover;
    transition: 0.3s ease;
}

.hamma-title {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}

.hamma-title span {
    color: #0ef;
}

.hamma:hover {
    transform: scale(1.04);
    box-shadow: 0 0 20px #0ef;
}

.date {
    font-size: 18px;
    opacity: 0;
    animation: slideLeft .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.hero4-title {
    font-size: 40px;
    margin-bottom: 50px;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}

.contact-text h2 {
    font-size: 80px;
    line-height: 1;
}

.contact-text h2 span {
    color: #0ef;
}

.contact-text h4 {
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}


.contact-text p {
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list i {
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}

.contact-icons i {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6px 0;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));

    margin: 30px 15px 30px 0;
}

.contact-icons i:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {

    border: 1px solid rgba(0, 238, 255, 0.3);
    outline: none;
    width: 90%;
    padding: 18px;
    background: #051129;
    color: #0ef;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 238, 255, 0.1);
}

.contact-form form input:hover,
form textarea:hover {
    border-color: #0ef;
    box-shadow: 0 0 10px rgba(0, 238, 255, 0.3);
}

.contact-form form input:focus,
form textarea:focus {
    border-color: #0ef;
    background: #0a1f3a;
    box-shadow: 0 0 15px rgba(0, 238, 255, 0.5), 0 0 30px rgba(0, 238, 255, 0.2);
    transform: scale(1.02);
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

.contact-form form .send {
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 6pu00;
    transition: 0.3s;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}


.contact-form form .send:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}

.last-text p {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: rgb(7, 85, 91);
    font-weight: 300;
    margin-top: 70px;
}

.top {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
}

.top i {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #051129;
    background: #0ef;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 2s ease;
    box-shadow: 0 0 10px rgba(0, 238, 255, 0.3);
    cursor: pointer;
}

.top i:hover {
    background: #00d4ff;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 0 20px rgba(0, 238, 255, 0.6), 0 0 40px rgba(0, 238, 255, 0.4);
}